RUN_ADDR=8000
LOG_LEVEL=INFO
DEBUG=True
SECRET_KEY=adafwrtw3532gfasd325fgds

POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=postgres

SERVER_ADDR=http://localhost:8080